<html>
    <title>
        <%=title%>
    </title>
    <script src="https://kit.fontawesome.com/4089802227.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <head>
        <h1 id="heading"> <i class="far fa-address-card"></i>Contact-List</h1>
    </head>
    <body>
        <table>
            <tr>
                <th> Name</th>
                <th colspan="2"> Phone</th>
            </tr>
            <%for(let i of contact_list){%>
            <tr>
                <td> <%= i.name%>:</td> 
                <td colspan="2"> <%=i.phone%> </td>
                    <td id="delete-button"><a href="/delete-contact/?phone= <%=i.phone%>">   <i class="fas fa-times-circle"></i>  </a>  </td>
                <%}%>
            </tr>
            
            <tr id="input-correction">
                <form action="/create-contact" method="post">
                <td>   <input type="text" name="name" placeholder="Enter name" required></td>
                <td>   <input type="number" name="phone" placeholder="Enter phone NUMBER" required></td>
                <td >  <BUtton type="submit"> ADD CONTACT</BUtton></td>
                </form>
                <script type="text/javascript" src="/js/home.js"></script>
            </tr>
        </table>
    </body>
</html>
